*.DS_Store
.depend

#Ignore
*.sublime-project
*.sublime-workspace

#Ignore results and output files
*.log
*.speed
*.rho
*.LUX
*.CRESST-II
data/*

#Ignore executables
bin/*

# Ignore build files
*.o

# Ignore codecove files
*.gcov
*.gcda
*.gcno



